<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        
    </head>
    <body>
        <h1>Daily todo list</h1>

        <ul>
          <form method="POST" action="/">
            <li><input type="text" name="todo"> <%=item %> </li>
            <button type="submit">Add</button>
          </form>
        </ul>

    </body>
</html>