<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        
    </head>
    <body>
        <h1>Daily todo list</h1>

        <form method="POST" action="/">
            <input type="text" name="todo">
            <button type="submit">Add</button>
          </form>

        <ul>
            <!--this is going to loop through the array and create a li for ech element-->
            <%for (let i = 0; i < item.length; i++) {%>
                <li> <%=item[i] %> </li>
            <%}%>
        </ul>

    </body>
</html>